body {
   
}

.principal {
     background: rgb(221, 171, 206);
     padding: 30px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: white;
}

#imagem {
    width: 100%;
    
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

#missao {
    font-size: 20px;
}

em strong {
    color: rgb(216, 44, 116);
}

.titulo {
    font-size: 20px;
    color:rgb(231, 67, 94)
    padding-bottom: 5px solid rgb(126, 39, 126); 
    margin-bottom: 3px solid rgb(216, 111, 216);  
}